# https://www.mongodb.com/docs/atlas/configure-api-access/
mongodbatlas_public_key  = "TODO"
mongodbatlas_private_key = "TODO"

project_name          = "tmwedding"
mongodbatlas_username = "TODO"
mongodbatlas_password = "TODO"
application           = "tmwedding-cluster"
environment           = "dev"
cluster_name          = "tmwedding"

region_configs = [{
  provider_name = "TENANT" # only TENANT supports M0 instance size
  backing_provider_name = "AWS"
  region_name   = "AP_SOUTHEAST_1"
  priority      = 7

  electable_specs = {
    instance_size = "M0"
    node_count    = 1
  }
}]

roles = [{
  "role_name"     = "readWrite",
  "database_name" = "tmwedding"
  }, {
  "role_name" : "read",
  "database_name" : "tmwedding"
}]

scope = [{
  name = "tmwedding",
  type = "CLUSTER"
}]
